td {
    vertical-align: middle;
}

.buttons-wrapper {
    margin-top: 50px;
    height: 46px;
}

option:not(:first-child) {
    color: black;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-song-submit-btn {
    position: absolute;
    left: 120px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

h1 {
    text-align: center;
}

.input-wrapper {
    display: flex;
}

label {
    font-weight: normal;
    margin-left: 10px;
}

.paged-form {
    min-height: 350px;
    position: relative;
    bottom: 50px;
}

.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fff;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

.person-gender-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.person-age-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.person-details-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.person-details-form label {
    height: 20px;
    margin: 0 10px 0 0;
    width: 102px;
}

.person-details-form input {
    width: 120px;
    padding: 5px 8px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.person-details-form button {
    position: static;
}

.person-button-wrapper {
    height: 46px;
}

.person-inputs-wrapper {
    display: flex;
    justify-content: space-around;
    width: 80%;
    text-align: center;
    margin-top: 40px;
}

.person-education-wrapper {
    display: flex;
    padding-bottom: 50px;
}

.person-residence-wrapper {
    display: flex;
    padding-bottom: 50px;
}

.person-error {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    width: 50%;
    margin: 0 auto;
}

.song-error {
    position: absolute;
    left: -80px;
    right: 0;
    top: 80px;
    margin: 0 auto;
    width: 122%;
    font-size: 12px;
    padding: 5px;
    height: 25%;
}

.navbar-inverse {
    z-index: 100;
    border-radius: 0;
    border: 0;
    margin-bottom: 50px;
}

.progress {
    margin-bottom: 0px;
}

.stompSurvey {
    margin: 0;
}

.stompSurvey table {
    margin: 30px 0;
}

.stompSurvey .table td {
    vertical-align: middle;
}

.stompSurvey td:not(:first-child) {
    text-align: center;
}

.stompSurvey td:first-child {
    width: 150px;
}

.stompSurvey td:nth-of-type(2) {
    border-right: 1px solid #cccccc;
}

.stompSurvey td:nth-child(n+3):nth-last-child(n+2){
    border: 1px solid #cccccc;
}

.stompSurvey ul {
    list-style: none;
}

.stompSurvey ul li::first-letter {
    font-weight: bold;
}

.stompSurvey input {
    margin: 0 10px;
    border: none;
    border-bottom: 1px dotted black;
    font-weight: bold;
    background: #EFEFEF;
    position: relative;
    bottom: 5px;
    transition: bottom .1s ease-out;
}
.stomp-track-wrapper {
    padding: 5px 0;
}

.sss-instruction-wrapper {
    margin-bottom: 40px;
}

.sss-instruction-wrapper p:first-child {
    font-size: 18px;
    text-align: center;
}

.sss-questions label {
    margin-left: 5px;
    width: 710px;
    transition: all .2s ease-in-out;
}

.sss-questions label:hover {
    color: #00796B;
}

.sss-checkbox-question-wrapper {
    display: flex;
    margin-left: 25px;
}

.center {
    margin: 0;
}

.btn-next {
    width: 120px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.stompSurvey input:focus {
    bottom: 0px;
}

input:nth-of-type(3):focus {
  width: 250px;
}

@media (max-width: 1400px) {
    .col-md-5 {
        width: 56%;
    }
}

.paged-form img {
    max-width: 95%;
}

.page-header {
    margin-bottom: 10px;
    border-bottom: none;
}

