.buttons-wrapper {
    margin-top: 50px;
    height: 46px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-song-submit-btn {
    position: absolute;
    left: 120px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

h1 {
    text-align: center;
}

.input-wrapper {
    display: flex;
}

label {
    font-weight: normal;
    margin-left: 10px;
}

